# Logs
logs/
*.log
*.log.*

# Java
*.class
*.jar
*.war
*.ear

# Spring Boot Specific
target/
!src/main/resources/**/application*.yml
!src/main/resources/**/application*.properties
*.swp

# Package Files
*.zip
*.tar.gz

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse
.classpath
.project
.settings/

# Maven
.mvn/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
.gradle/
build/
.gradle-cache/
.gradle-build/
gradle-app.setting

# Node.js / React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/
dist/
build/
.eslintcache

# OS Specific
.DS_Store
Thumbs.db

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE-specific files
*.sublime-workspace
*.code-workspace